// Example: custom color map
$custom-colors: (
   'myWhite': white,
   'myBlack': black,
);

// Example: custom widths
$fixed-widths: (
   1: 0.25rem,
   2: 0.5rem,
   3: 0.75rem,
);

// override h1 default size
$h1-font-size: 1.75rem;

// existing colors to customize
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #85bb65;
$teal: #20c997;
$cyan: #0dcaf0;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$border-width: 3px;

:root {
   --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
      'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
   --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
   --bs-body-font-family: var(--bs-font-sans-serif);
   --bs-body-font-size: 1rem;
   --bs-body-font-weight: 400;
   --bs-body-line-height: 1.5;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: var(--bs-body-font-family);
   font-size: var(--bs-body-font-size);
   font-weight: var(--bs-body-font-weight);
   line-height: var(--bs-body-line-height);
   // color: var(--bs-body-color);
   // text-align: var(--bs-body-text-align);
   // background-color: var(--bs-body-bg);
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.logo {
   width: 120px;
}

@media screen and (max-width: 600px) {
   .logo {
      width: 50px;
   }
}

.bg {
   background-color: $black;
   color: $white;
}

.card {
   transition: all 0.3s;
}

.card:hover {
   transform: scale(1.05);
}

.img-effect {
   transition: all 0.03s;
}

.img-effect:hover {
   transform: scale(1.5);
}

.img-md {
   width: 300px;
}
